.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  transition: all 0.5s ease;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    transition: all 0.5s ease;
  }

  &__logo {
    position: relative;
    top: -3px;
    z-index: 5;
    flex: 0 0 200px;
    img {
      max-width: 100%;
    }
  }

  &__menu {
  }
}
.menu {

  &__icon {
    display: none;
  }

  &__body {
  }

  &__list {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin: 0 40px 0 0;
        @media (max-width: $md3+px) {
          margin: 0 0 35px 0;
        }
      }
    }
  }

  &__link {
    line-height: 28px;
    color: #000000;
  }
}






@media (max-width: $md3+px) {
  .menu__icon {
    display: block;
    position: relative;
    z-index: 5;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
  }
  .menu__list {
    display: block;
    text-align: center;
  }
  .menu__link {
    font-size: 28px;
  }
}

.header-min {
  min-height: 50px;
}
.header-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}